DOMAIN="${DOMAIN}"
JITSI_FQDN="${JITSI_FQDN}"

LDAP_BASE="${LDAP_BASE}"
LDAP_USER="${LDAP_USER}"
LDAP_SERVER="${LDAP_SERVER}"

CASLoginURL="${CASLoginURL}"
CASValidateURL="${CASValidateURL}"
CASRootProxiedAs="${CASRootProxiedAs}"
