########################################################################
# Fichier de configuration local
# Lu après /opt/jitsi-jmb/etc/jmb.cf et /opt/jitsi-jmb/etc/jmb_jwt.cf
########################################################################

# Nom du service, il sera affiché dans les onglets du navigateur et la
# liste des réunions (booking.cgi)
JMB_NAME="Jitsi Meet"

# FQDN du service
JMB_SERVER_NAME="##_JITSI_FQDN_##"

# Domaine de messagerie (on supprime la partie "host" du FQDN)
JMB_MAIL_DOMAIN="##_DOMAIN_##"

# URL de redirection pour les accès qui ne sont pas passé par l'interface
# de réservation
JMB_REDIRECT_CLOSE="https://jitsi.org/"

# Commande de requête LDAP
JMB_LDAPSEARCH="/usr/bin/ldapsearch -o ldif-wrap=no -H ldap://##_LDAP_SERVER_## -x -LLL -b ##_LDAP_BASE_## -D ##_LDAP_USER_## -y /etc/ldap/ldap.secret"

# Module destiné à vérifier le rôle "éditeur" de l'utilisateur
JMB_IS_EDITOR_MODULE="editor_role-ldap"

# Filtre LDAP utilisé par JMB_IS_EDITOR_MODULE: comptes autorisés à créer et éditer les réunions
# JMB_LDAP_FILTER="|(eduPersonAffiliation=employee)(eduPersonAffiliation=faculty)"
JMB_LDAP_FILTER="|(eduPersonAffiliation=student)(eduPersonAffiliation=employee)(eduPersonAffiliation=faculty)(eduPersonAffiliation=affiliate)"

# Fichier d'abonnement aux listes de diffusion
# Format:
# adresse_mail_liste adresse_mail_abonné1
# adresse_mail_liste adresse_mail_abonné2
# ...
#JMB_LISTS_SUBSCRIBERS="/var/lib/tsync-get/listes.lists_subscribers_mails.txt"

# Vérif LDAP: remplacer les adresses secondaires par les adresses principales
# Ne fonctionne que pour les adresses connues du référentiel LDAP
JMB_FIX_MAIL_ALIASES="1"

# Adresse mail d'expéditeur pour les notifications
JMB_MAIL_FROM_NOTIFICATION="Jitsi Meet <noreply@domain.fr>"

# Réservations:
# -> modules de vérification
# -> Voir /opt/jitsi-jmb/modules/LISEZMOI.txt
JMB_CHECK_MODULES="ldap-filter private-room booking"

# iCal:
JMB_ICAL_NAME="Visio Rendez-vous"
JMB_ICAL_DESC="Visio Rendez-vous"
