########################################################################
# Fichier de configuration local
# Lu après /opt/jitsi-jmb/etc/jmb.cf et /opt/jitsi-jmb/etc/jmb_jwt.cf
########################################################################

# FQDN du service
#JMB_SERVER_NAME=""

# Requête LDAP
JMB_LDAPSEARCH="/usr/bin/ldapsearch -o ldif-wrap=no -H ldap://ldap.mondomaine.fr -x -LLL -b ou=people,dc=mondomaine,dc=fr -D uid=jitsi-jmb,ou=account,ou=app,dc=mondomaine,dc=fr -y /etc/ldap/ldap.secret"

# Filtre LDAP: comptes autorisés à créer/éditer les réunions
JMB_LDAP_FILTER="|(eduPersonAffiliation=student)(eduPersonAffiliation=employee)(eduPersonAffiliation=faculty)(eduPersonAffiliation=affiliate)"

# Fichier d'abonnement aux listes de diffusion
# Format:
# adresse_mail_liste adresse_mail_abonné1
# adresse_mail_liste adresse_mail_abonné2
# ...
#JMB_LISTS_SUBSCRIBERS="/var/lib/tsync-get/listes.lists_subscribers_mails.txt"

# Réservations:
# -> modules de vérification
# -> Voir /opt/jitsi-jmb/modules/LISEZMOI.txt
JMB_CHECK_MODULES="ldap-filter private-room booking"

# iCal:
JMB_ICAL_NAME="Visio Rendez-vous"
JMB_ICAL_DESC="Visio Rendez-vous"
