########################################################################
# Fichier de configuration local
# Il est lu après le fichier pricipal (jmb.cf)
########################################################################

# Requête LDAP
JMB_LDAPSEARCH="/usr/bin/ldapsearch -o ldif-wrap=no -H ldap://ldap.mondomaine.fr -x -LLL -b ou=people,dc=mondomaine,dc=fr -D uid=jitsi-jmb,ou=account,ou=app,dc=mondomaine,dc=fr -y /etc/ldap/ldap.secret"

# Filtre LDAP: comptes autorisés à créer/éditer les réunions
JMB_LDAP_FILTER="|(eduPersonAffiliation=student)(eduPersonAffiliation=employee)(eduPersonAffiliation=faculty)(eduPersonAffiliation=affiliate)"

# Fichier d'abonnement aux listes de diffusion
# Format:
# adresse_mail_liste adresse_mail_abonné1
# adresse_mail_liste adresse_mail_abonné2
# ...
JMB_LISTS_SUBSCRIBERS="/var/lib/tsync-get/listes.lists_subscribers_mails.txt"

# JWT:
# -> "Application ID"
# -> voir /etc/prosody/conf.avail/**FQDN**.fr.cfg.lua
# Identique à la variable "app_id" dans la section "VirtualHost" du FQDN
JMB_JWT_ISS="jitsi-auth"

# JWT:
# -> clé partagée pour la signature des jetons
# -> voir /etc/prosody/conf.avail/**FQDN**.fr.cfg.lua
# Identique à la variable "app_secret" dans la section "VirtualHost" du FQDN
JMB_JWT_SECRET="super_clee_partagee"

# Identité/authentification:
# -> récupération des infos utilisateur
# -> Voir /opt/jitsi-jmb/modules/LISEZMOI.txt
JMB_IDENTITY_MODULE="identity-cas"

# Réservations:
# -> modules de vérification
# -> Voir /opt/jitsi-jmb/modules/LISEZMOI.txt
JMB_CHECK_MODULES="ldap-filter private-room booking"

# iCal:
JMB_ICAL_NAME="Visio Rendez-vous"
JMB_ICAL_DESC="Visio Rendez-vous"
